

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {

  font-family: 'Poppins';
  @apply bg-gray-100 text-gray-500
}



/* Custom scrollbar in select cities  */
.scrollBarCities::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

.scrollBarCities::-webkit-scrollbar-track {
  background: #00000000;
  height: 2px;
}

.scrollBarCities::-webkit-scrollbar-thumb {
  background: #f0f1f2;
  border-radius: 10px;
  height: 6px;
  /* Altura desejada */
}

.scrollBarCities::-webkit-scrollbar-thumb:hover {
  background: #f0f1f2;
  height: 2px;
}


.link-400line {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-400line-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#aafa07, #aafa07);
}

.link-400line:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}



.slide-left {
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}


.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

img{
  user-select: none;
}


.navbar {
  margin: 0;
  display: block;
  background-color: #105bcf;
  z-index: 50;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background);
  color: var(--text);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px 0px;
}

.navbar__block {
  height: 157.594px;
}

.navbar__top {
  width: 100%;
  position: relative;
  display: block;
  background-color: #105bcf;
  box-shadow: inset 0px 0px 5px 0px rgb(0 0 0 / 5%);
}

.container__top {
  max-width: 1200px;
  font-weight: 400;
  padding: 10px 20px;
  position: sticky;
  bottom: 0 !important;
  z-index: 1000;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  display: flex;
}

.navbar__top-left {
  display: flex;
  gap: 1.9rem;
  height: 38px;
  align-items: center;
  color: #f0f1f2;
  justify-content: flex-start;
}

.navbar__top-left img {
  cursor: pointer;
}

.navbar__top-right {
  text-transform: capitalize;
  font-size: 14px;
  display: flex;
  color: #f0f1f2;
  flex-direction: row;
}

.navbar__top-right img {
  margin: auto;
  margin-left: 20px;
  height: 9px;
}

.navbar__bottom {
  display: flex;
  position: relative;
  background-color: white;
  width: 100%;

  height: 6rem;
}

.container__bottom {
  padding: 0 10px;
  display: flex;
  width: 100%;
  margin: auto;
  max-width: 1260px;
}





.navbar__bottom-left {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
  margin: auto;
}

.bottom__left {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: auto 0;
}

.bottom__left-options {
  display: flex;
  margin: auto;
  gap: 20px;
}



.bottom__right-options {
  font-weight: 400;
  display: flex;
  gap: 20px;
  white-space: nowrap;
  margin: auto;
}

.bottom__right-mobile {
  display: none;
}
.mobile-menu {
  position: absolute;
  top:  100%;
  left:  0;
  right:  0;
  background-color: #f0f1f2;
  display: flex;
  flex-direction: column;
  gap:  10px;
  padding:  20px;
  box-shadow: rgba(0,  0,  0,  0.15)  0px  0px  8px  0px;
  overflow: hidden;
  max-height:  0;
  transition: max-height  0.3s ease-in-out;
}

.mobile-menu.open {
  max-height:  500px; /* Ajuste este valor conforme necessário */
}


.mobile-menu button {
  margin-top:  10px;
}



@media (max-width: 1090px) {
  .navbar__block {
    height: 149.625px;
  }

  .navbar__bottom {
    height: 111.625px;
  }

  .bottom__left-options,
  .bottom__right {
    display: none;
  }

  .bottom__right-mobile {
    right: 0px;
    display: block;
  }

  .container__bottom {
    padding: 0 5%;
  }

}

@layer components {
  .bottom__left-options a, .mobile-menu a {
    @apply text-mx-blue-500;
    font-weight: 500;
    font-size: 1.1rem;
    @apply transition-all;
    @apply duration-500;
  }
  .bottom__left-options a:hover, .mobile-menu a:hover {
    font-weight: 600;
    @apply transition;
    @apply text-blue-500;
    @apply underline;
    @apply transition-all;
    @apply duration-500;
    text-decoration-thickness:  3px; /* Espessura do sublinhado em  2px */
    text-decoration-color: theme('colors.mx-green[500]'); ; 
  }
  
  .bottom__left-options a.current, .mobile-menu a.current{
    @apply text-mx-blue-800;
    font-weight: 700;
    @apply underline;
    @apply transition-all;
    @apply duration-500;
    text-decoration-thickness:  3px; /* Espessura do sublinhado em  2px */
    text-decoration-color: theme('colors.mx-green[500]'); ; 
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
/* Ajuste conforme necessário */
}

.loading-spinner {
  border:   2px solid #f3f3f3; /* Cor de fundo do spinner */
  border-top:  2px solid #3498db; /* Cor do spinner */
  border-radius:   50%;
  width:   20px;
  height:   20px;
  animation: spin   2s ease-in-out infinite; /* Ajuste a duração conforme necessário */
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

@layer components {
  #servicos svg{
    width: 18px;
    height: 18px;
    fill:  theme('colors.mx-green[400]');
   }
  #servicos-no-default svg{
    width: 18px;
    height: 18px;
    fill:  theme('colors.mx-blue[800]');
   }

 
}




