@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom scrollbar in select cities  */
.scrollBarCities::-webkit-scrollbar {
  width:  6px;
  height: 2px;
}

.scrollBarCities::-webkit-scrollbar-track {
  background: #00000000;
  height: 2px;
}

.scrollBarCities::-webkit-scrollbar-thumb {
  background: #f0f1f2;
  border-radius: 10px;
  height:  6px; /* Altura desejada */
}

.scrollBarCities::-webkit-scrollbar-thumb:hover {
  background: #f0f1f2;
  height: 2px;
}


.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#aafa07,#aafa07);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}



.slide-left {
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}


.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
